<nav role="navigation">
    <div class="content-wrapper">
        <div class="nav-wrapper container">
            <ul class="right hide-on-med-and-down">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/details">Me.</a></li>
                <li><a href="#/gallery">Gallery</a></li>
                <li><a href="#/booking">Book Now</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Me.</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#"><u>Book Now</u></a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>