.gallery-tile {
	clip-path: polygon(50% 0%, 96% 25%, 95% 75%, 50% 100%, 4% 75%, 4% 25%);

	&.small {
		width: 5 * $base-size;
		height: 5 * $base-size;
		background-color: red;
	}

	&.medium {
		width: 6 * $base-size;
		height: 6 * $base-size;
		background-color: blue;
	}
	&.large {
		width: 7 * $base-size;
		height: 7 * $base-size;
		background-color: green;
	}
}