.primary {
	color: $base;
} 
.secondary {
	color: $black;
}
.text-medium {
	font-size: .9rem;
}
.text-left {
	text-align: left;
}
.vh-height {
	height: 100vh;
}
.full-height {
	height: 100%;
}
.no-padding {
	padding: 0 !important;
}
.display-flex {
	display: flex;
}
.flex-center {
	display: flex;
    justify-content: center;
    align-items: center;
}
.nav-wrapper {
	z-index: 200;
}
.display-flex-row {
	display: flex;
	flex-direction: row;
}
.flex-center {
	align-items: center;
	align-content: center;
}
.flex-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	max-width: 1100px;
	margin: 0 auto;
}
.content-wrapper{
	position: relative;
	margin: 0 auto;
	max-width: 1900px;
	height: 100%;
}
.wrapper {
	position: relative;
	z-index: 100;
}
.padding {
	padding: $base-padding !important;
}
.padding-bottom {
	padding-bottom: $base-padding !important;
}
.double-padding {
	padding: 2 * $base-padding !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.margin-bottom {
	margin-bottom: $base-margin; 
}
.double-margin-bottom {
	margin-bottom: 2 * $base-margin;
}
.no-margin {
	margin: 0 !important;
}
.margin-auto {
	margin: 0 auto;
}
.text-align-center {
	text-align: center;
}
