<main>
	<div id="pre-details" class="container">
        <div class="section padding-bottom">
            <div class="row no-margin">
                <div class="col l6 m6 s12">
                  <div class="home-section">
                    <div class="display-flex flex-center margin-auto">
                        <img class="icon" src="./assets/img/section-icon-fb.jpg" />
                        <p> Follow me on Facebook !</p>
                    </div>
                  </div>
                </div>
                <div class="col l6 m6 s12">
                  <div class="home-section">
                    <div class="display-flex flex-center margin-auto">
                        <img class="icon" src="./assets/img/section-icon-tc.jpg" />
                        <p>Terms & Conditions</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section details no-padding-bottom">
        <div class="container">
            <div class="row double-margin-bottom">
                <div class="text-align-center">
                    <h2 class="section-header">About Me</h2>
                </div>
            </div>
            <div class="row details-row">
                <div class="col l6 m6 s12 details-text right full-height">
                    <p class="margin-bottom">Our Tattoo Studio is based in the heart of Taunton, Somerset in United Kingdom where entire team is commited to meet needs of our customers ensuring they leave 100% satisfied. As a result of our work ethic we have seen customers retuns, being recomended by others.</p>
                    <p class="double-margin-bottom">Whatever your tattoo requirements, we are here to offer a solution - from custom designs and portraits, biomechanical and tribal, to intricate lettering and symbols. Even if you are not sure exacly that you want our staff are on hand to offer adcive and give ideas. All design work will be dwarn out either on paper on straight ont the skin and we will work with you to ensure each design is created with you in mind. Consultations are done without obligation, so even if you are just surious about tattoo desing then please do not hestitate to get in touch!</p>
                    <div class="details-caption ">
                        <div style="margin-bottom: .5rem;"><i class="material-icons">mail</i> damian.michalak@tattooartist.co.uk</div>
                        <div style="margin-bottom: .5rem;"><i class="material-icons">phone</i> 01823 1234567</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>