<main>
	<div id="booking" class="booking section secondary-gb">
        <div class="container">
            <div class="row text-center booking">
                <div class="booking-caption">Never regreat a tattoo!</div>
                <div class="booking-testimonials">
                    <div class="testimonials">
                        <span>I came in for a cover up - Damian was very helpful and the design he came up with was fantastic. I'm very pleased with the finished design. Thank you!</span>
                        <p class="testimonials-name">Bob Smith, Taunton</p>
                    </div>
                </div>
                <a class="waves-effect waves-light btn-large right book-now-btn primary">Book an appointment</a>
            </div>
        </div>
    </div>
</main>