<main>
	<div id="contact" class="section primary">
        <div class="container">
            <div class="row text-align-center double-margin-bottom">
                <div class="text-align-center">
                    <h2 class="section-header alternative-header margin-bottom">Contact</h2>
                    <p class="secondary text-medium">If you have any question or want to book an apointment feel free to contact me</p>
                </div>
            </div>
            <div class="row">
                <form class="col s8 offset-s2">
                    <div class="row ">
                        <div class="col l6 m6 s12">
                            <div class="input-field col s12">
                                <input id="contact-name" type="text">
                                <label for="contact-name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="contact-email" type="email">
                                <label for="contact-email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="contact-subject" type="text">
                                <label for="contact-subject">Subject</label>
                            </div>
                        </div>
                        <div class="col l6 m6 s12">
                            <div class="input-field col s12">
                                <textarea id="contact-message" class="materialize-textarea"></textarea>
                                <label for="contact-message">Message</label>
                            </div>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn-large right send-btn">Send</a>
                </form>
            </div>
        </div>
    </div>
    <footer/>
</main>