<main>
	<div class="home no-padding full-height">
        <div class="content-wrapper">
            <div class="row wrapper full-heigh">
                <div class="home-caption">
                    <h1 class="padding">Creativity in motion</h1>
                    <h2 class="padding no-padding-bottom">Damian Michalak</h2>
                    <span class="padding no-padding-top">Professional tattoo artist</span>
                    <!--  <span class="caption-border"></span> -->
                    <p class="padding">'The boss' who has been tattooing since 209 and has
                    been drawing since he was 8 years old, he has extensive experience
                    in designing and creating tattoos taking into account all customers
                    specific needs in order to create their perfect design.</p>
                </div>
                <div class="home-icons">
                    <img class="social-icon" src="/assets/img/facebook.svg" alt="facebook icon"/>
                    <img class="social-icon" src="/assets/img/instagram.svg" alt="instagram icon"/>
                    <img class="social-icon" src="/assets/img/pinterest.svg" alt="pinterest icon"/>
                    <img class="social-icon" src="/assets/img/youtube.svg" alt="youtube icon"/>
                    <img class="social-icon" src="/assets/img/google.svg" alt="google icon"/>
                </div>
            </div>
            <div class="row home-bg ">
                <img class="responsive-img bg trg-1" src="/assets/img/home-2.jpg"/>
                <img class="responsive-img bg trg-2" src="/assets/img/home-2.jpg"/>
                <img class="responsive-img bg trg-3" src="/assets/img/home-2.jpg"/>
                <img class="responsive-img bg trg-4" src="/assets/img/home-2.jpg"/>
                <img class="responsive-img bg trg-5" src="/assets/img/home-2.jpg"/>
            </div>
            <img class="home-logo" src="./assets/img/logo.png" alt="Damian Michalak Tattoo Artist Logo" />
        </div>
    </div>
</main>