<footer class="footer secondary-gb">
    <div class="clip-div one"></div>
    <div class="clip-div two"></div>
    <div class="clip-div three"></div>
    <div class="container">
        <div class="row">
            <div class="col s3">
                <img class="invert responsive-img" src="./assets/img/logo.png" alt="Damian Michalak Tattoo Artist Logo" />
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="col s12 text-align-center margin-bottom">
                    <p>© 2018 Damian Michalak Tattoo Artist (registered in Ennglad: #12356343). All rights reserved</p>
                </div>
                <div class="col l6 m6 s12 text-align-center">
                    designed by <a href="#"><u>SonnesArt.com</u></a>
                </div>
                <div class="col l6 m6 s12 text-align-center">
                    coded by  
                    <a href="#"><u>HubertZelek.co.uk</u></a>
                </div>
            </div>
        </div>
    </div>
</footer>